In [2]:
import pandas as pd
import numpy as np

In [7]:
books = pd.read_csv("books.csv" ,sep = ';' , on_bad_lines='skip' , encoding = 'latin-1')

C:\Users\vinay\AppData\Local\Temp\ipykernel_27896\2993998083.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("books.csv" ,sep = ';' , on_bad_lines='skip' , encoding = 'latin-1')

In [8]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [9]:
books = books[["ISBN" , "Book-Title" , "Book-Author" , "Year-Of-Publication" , "Publisher"]]

In [56]:
books.rename(columns={'Book-Title':'Title' , 'Book-Author' : 'Author' , 'Year-Of-Publication' : 'Year'},inplace = True)

In [57]:
books

,ISBN,Title,Author,Year,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [13]:
users = pd.read_csv('users.csv' , sep = ';' , on_bad_lines = 'skip' , encoding = 'latin-1')

In [14]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [16]:
ratings = pd.read_csv('ratings.csv' , sep = ';' , on_bad_lines = 'skip' , encoding = 'latin-1')

In [17]:
books.shape

(271360, 5)

In [18]:
ratings.shape

(1149780, 3)

In [19]:
users.shape

(278858, 3)

In [20]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [29]:
ratings['User-ID'].value_counts().shape

(105283,)

In [31]:
ratings.shape

(1149780, 3)

In [34]:
x=ratings['User-ID'].value_counts()>200

In [35]:
x

User-ID
11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: count, Length: 105283, dtype: bool

In [40]:
y = x[x].index

In [99]:
ratings=ratings[ratings['User-ID'].isin(y)]

In [100]:
ratings.shape

(526356, 3)

In [101]:
ratings_with_books = ratings.merge(books , on = "ISBN")

In [102]:
ratings_with_books

,User-ID,ISBN,Book-Rating,Title,Author,Year,Publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
...,...,...,...,...,...,...,...
487666,275970,1892145022,0,Here Is New York,E. B. White,1999,Little Bookroom
487667,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA)
487668,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim"
487669,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann
487670,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN)

In [103]:
ratings_with_books.shape

(487671, 7)

In [123]:
number_rating.rename(columns={'Book-Rating' : 'number of ratings' }, inplace = True)

In [124]:
number_rating=ratings_with_books.groupby('Title')['number of ratings'].count().reset_index()

KeyError: 'Column not found: number of ratings'

In [125]:
number_rating.rename(columns={'Book-Rating' : 'number of ratings' }, inplace = True)

In [108]:
number_rating.head()

                                               Title  number of ratings
0   A Light in the Storm: The Civil War Diary of ...                  2
1                              Always Have Popsicles                  1
2               Apple Magic (The Collector's series)                  1
3   Beyond IBM: Leadership Marketing and Finance ...                  1
4   Clifford Visita El Hospital (Clifford El Gran...                  1

In [109]:
final_ratings=ratings_with_books.merge(number_rating , on="Title")

In [110]:
final_ratings.head(2)

,User-ID,ISBN,Book-Rating,Title,Author,Year,Publisher,number of ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82

In [111]:
final_ratings.shape

(487671, 8)

In [113]:
final_ratings=final_ratings[final_ratings['number of ratings']>=50]

In [114]:
final_ratings.shape

(61853, 8)

In [118]:
final_ratings.drop_duplicates(['User-ID',"Title"] , inplace=True)

C:\Users\vinay\AppData\Local\Temp\ipykernel_27896\1142791700.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_ratings.drop_duplicates(['User-ID',"Title"] , inplace=True)

In [120]:
final_ratings.shape

(59850, 8)

In [126]:
books_pivot=final_ratings.pivot_table(columns = "User-ID" , index = 'Title' , values = 'Book-Rating')

In [128]:
books_pivot.fillna(0, inplace= True)

In [129]:
books_pivot

User-ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [130]:
from scipy.sparse import csr_matrix

In [131]:
book_sparse=csr_matrix(books_pivot)

In [132]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [134]:
from sklearn.neighbors import NearestNeighbors

In [138]:
model=NearestNeighbors(algorithm="brute")

In [139]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [148]:
distances , suggestions=model.kneighbors(books_pivot.iloc[27 , :].values.reshape(1,-1), n_neighbors = 6)

In [149]:
distances

array([[ 0.        , 41.20679556, 41.68932717, 42.39103679, 42.44997055,
        42.50882261]])

In [150]:
suggestions

array([[ 27, 634, 589,  33, 230, 536]], dtype=int64)

In [151]:
for i in range(len(suggestions)):
    print(books_pivot.index[suggestions[i]])

Index(['A Walk to Remember', 'The Rescue',
       'The Killing Game: Only One Can Win...and the Loser Dies', 'Abduction',
       'Granny Dan', 'The Cradle Will Fall'],
      dtype='object', name='Title')

In [164]:
books_pivot.index[237]

'Harry Potter and the Chamber of Secrets (Book 2)'

In [152]:
np.where(books_pivot.index=='Animal Farm')[0][0]

54

In [157]:
def recommend_book(Title):
    book_id=np.where(books_pivot.index==Title)[0][0]
    distances , suggestions=model.kneighbors(bookspivot.iloc[book_id , :].values.reshape(1,-1), n_neighbors = 6)

for i in range(len(suggestions)):
    if i == 0:
        print("the suggestions for the book" , Title , "are :")

    if not i :
        print(books_pivot.index[suggestions[i]])

NameError: name 'Title' is not defined

In [158]:
def recommend_book(Title):
    book_id = np.where(books_pivot.index == Title)[0][0]
    distances, suggestions = model.kneighbors(books_pivot.iloc[book_id, :].values.reshape(1, -1), n_neighbors=6)

    print("The suggestions for the book", Title, "are:")

    for i in range(1, len(suggestions[0])):
        print(books_pivot.index[suggestions[0][i]])

In [167]:
recommend_book("Harry Potter and the Chamber of Secrets (Book 2)")

The suggestions for the book Harry Potter and the Chamber of Secrets (Book 2) are:
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Sorcerer's Stone (Book 1)
Exclusive
The Cradle Will Fall